.container-fluid, .container{
    padding: 0;
}
#contact{
    background-color: #da6f00;
    color: #ffff;
    line-height: 1;
}
#search{
    background-color: #da6f00;
    color: #ffff;
    margin-bottom: 35%;
    line-height: 1;
    text-align: center;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #da6f00;
}
.nav-link:hover{
    font-weight: bold;
    color: #da6f00;
}
h1{
    text-align: center;
    color: #1f808b;
}
h2{
    text-align: center;
    color: #da6f00;
}
h4{
    color: #da6f00;
}
h5{
    color: #da6f00;
}
input[type=text]{
    border: 4px solid #1f808b;
    border-radius: 3px;
    text-align: center;
    color: #1f808b;
}
.activity, .articles{
    padding-top: 45px;
    padding-bottom: 45px;
}
.bottom{
    padding-bottom: 50px;
}
.image-container{
    padding-top: 25px;
}
.image1{
    background-image: url("../img/banner.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image2{
    background-image: url("../img/banner2.png");
    max-width: 100%;
    height: 300px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 1200px) {
    .image1 {
        max-width: 100%;
        height: 250px;
        padding-bottom: 25px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 768px){
    .image1 {
        max-width: 100%;
        height: 200px;
        padding-bottom: 25px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 1200px) {
    .image2 {
        max-width: 100%;
        height: 300px;
        padding-bottom: 25px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media (max-width: 768px){
    .image2 {
        max-width: 100%;
        height: 250px;
        padding-bottom: 25px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.search{
    padding-top: 25px;
    padding-left: 46%;
}
@media (max-width: 768px){
    .search{
        padding-top: 25px;
        padding-left: 40%;
    }
}
.enter1{
    padding-left: 15%;
}
.enter2{

}
@media (max-width: 768px){
    .enter1{
        padding-left: 15%;
    }
}
@media (max-width: 768px){
    .enter2{
        padding-left: 15%;
    }
}
.firm{
    padding-top: 50px;
    padding-bottom: 25px;
}
@media (max-width: 768px){
    .firm{
        padding-top: 25px;
        padding-bottom: 15px;
    }
}
.references{
    position: relative;
    display: inline-block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 3px solid #1f808b;
    margin: 12px;
    color: #1f808b;
}
.references:hover{
    background-color: #fff;
    border: 3px solid #da6f00;
    font-weight: bold;
    color: #da6f00;
}
.col-sm-4{
    width: 65%;
}
.articles-text{
    color: #1f808b;
    line-height: 1.5;
}
.pa-5 {
    padding-left: 2rem!important;
    padding-right: 3rem!important;
}
.la-5 {
    padding-left: 3rem!important;
    padding-right: 1rem!important;
}
@media (max-width: 768px){
    .pa-5{
        padding-left: 3rem!important;
        padding-right: 2rem!important;
    }
}
@media (max-width: 768px){
    .la-5{
        padding-left: 3rem!important;
        padding-right: 2rem!important;
    }
}
#more{
    line-height: 1;
    background-color: #da6f00;
    color: #ffff;
    margin-bottom: 25px;
}
.know{
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #1f808b;
}
.meniu{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.footer {
    padding-top: 25px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 25px;
    color: #1f808b;
    margin-left: 25px;
}
.footer:hover{
    text-decoration: none;
    color: #da6f00;
    font-weight: bold;
}
.logo2{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 45px;
}
.depends{
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}
.soc{
    padding-top: 25px;
}
.fa:hover{
    opacity: 0.7;
}
@media (max-width: 1200px) {
    .footer {
        display: inline-block;
    }
}
@media (max-width: 768px){
    .footer {
        display: block;
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media (min-width: 769px){
    .logo2 {
        display: inline-block;
        text-align: center;
        margin-left: 45px;
    }
}
@media (max-width: 768px){
    .logo2 {
        display: block;
        text-align: center;
        margin-left: 45px;
    }
}
.pl-5, .px-5 {
    padding-left: 3rem!important;
    padding-right: 3rem!important;
}
.article{
    padding-left: 25px;
    padding-right: 25px;
}
.text{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.5;
}
#new{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding: 20px;
    width: 100%;
    height: 150px;
}
.new{
    padding-top: 15px;
    padding-bottom: 15px;
}
.news{
    padding-bottom: 35px;
}
@media (max-width: 1200px) {
    #new {
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding: 20px;
        width: 100%;
        height: 150px;
    }
}
@media (max-width: 768px) {
    #new {
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding: 20px;
        width: 100%;
        height: 200px;
    }
}
.autos{
    padding-bottom: 35px;
}
.auto-name{
    padding-top: 15px;
    padding-bottom: 15px;
}
.auto-vip{
    background-color: #faedd9;
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding: 20px;
    width: 100%;
    height: 310px;
}
.auto-logo{
    border-radius: 25px;
    border: 2px solid #1f808b;
    background-color: #ffffff;
    color: #1f808b;
    padding-top: 25px;
}
.auto{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding: 25px;
    width: 100%;
    background-color: #ffffff;
}
.auto-height{
     height: 240px;
}

.vip{
    padding-left: 35px;
    color: #1f808b;
}
.logo{
    color: #1f808b;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 250px;
    grid-gap: 10px;
    justify-content: space-between;
    align-content: space-between;
    grid-template-areas:
        "vip content"
        "logo content"
        "footer footer"
}
.grid-item1{
    grid-area: vip;
}
.grid-item2{
    grid-area: logo;
}
.grid-item3{
    grid-area: content;
}
.grid-item4{
    grid-area: footer;
    border-radius: 25px;
    border: 2px solid #1f808b;
    background-color: #ffffff;
    padding: 15px;
}
#title{
    border: 2px solid #1f808b;
    padding: 20px;
    width: 100%;
}
.title{
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
}
.one{
    background-image: url("../img/1.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #1f808b;
}
.two{
    background-image: url("../img/2.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #1f808b;
}
.three{
    background-image: url("../img/3.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #1f808b;
}
.four{
    background-image: url("../img/4.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #1f808b;
}
#transport{
    color: #1f808b;
}
#transport:hover{
    text-decoration: none;
    color: #da6f00;
    font-weight: bold;
}
.padding{
    padding-left: 40px;
}
.color{
    color: #1f808b;
    text-align: center;
    padding-bottom: 25px;
}
.links{
    position: relative;
    display: inline-block;
    padding: .75rem 1.25rem;
    margin: 15px;
    background-color: #fff;
    border: 3px solid #1f808b;
    color: #1f808b;
}
.links:hover{
    background-color: #fff;
    border: 3px solid #da6f00;
    font-weight: bold;
    color: #da6f00;
}
.firm-logo{
    border-radius: 25px;
    border: 2px solid #1f808b;
    background-color: #ffffff;
    color: #1f808b;
    padding: 25px;
}
.margin{
    padding-right: 35%;
    padding-left: 35%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 25px;
}
@media (max-width: 768px) {
    .margin{
        padding-right: 25%;
        padding-left: 25%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 25px;
    }
}
#new-text{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
    height: 180px;
}
@media (max-width: 768px) {
    #new-text{
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding-top: 20px;
        padding-left: 40px;
        width: 100%;
        height: 245px;
        text-align: center;
    }
}
.items{
    text-align: center;
}
#new-text1{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
    height: 225px;
    text-align: center;
}
@media (max-width: 768px) {
    #new-text1{
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding-top: 20px;
        padding-left: 40px;
        width: 100%;
        height: 245px;
        text-align: center;
    }
}
#new-text2{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
    height: 295px;
    text-align: center;
}
@media (max-width: 768px) {
    #new-text2{
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding-top: 20px;
        padding-left: 40px;
        width: 100%;
        height: 525px;
        text-align: center;
    }
}
.box {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
#new-text3{
    border-radius: 25px;
    border: 2px solid #1f808b;
    padding-top: 20px;
    padding-left: 40px;
    width: 100%;
    height: 225px;
    text-align: center;
}
@media (max-width: 768px) {
    #new-text3{
        border-radius: 25px;
        border: 2px solid #1f808b;
        padding-top: 20px;
        padding-left: 40px;
        width: 100%;
        height: 295px;
        text-align: center;
    }
}
.map{
    background-image: url("../img/map.png");
    max-width: 100%;
    height: 250px;
    padding-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.photo{
    padding: 15%;
}
@media (max-width: 768px) {
    .photo{
        padding: 25%;
    }
}